# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# dynamic files
classes/
build/release/
build/temp/
build/build.log

#Eclipse project (not necessary)
.classpath
.project
.checkstyle
checkstyle_supporessions.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
